@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:wght@500&display=swap');

#createPage {
  margin-top : 70px;
}

#createForm {
  padding : 30px;
  /* font-family: 'Abril Fatface'; */
}

.createSelectInput, .createInput, .instructionInput, .ingredientInput {
  min-height: 50px;
  margin : 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ingredientInput input {
  margin-right : 5px;
}

#createForm * input {
  padding-left : 5px;
  border-radius: 10px;
  border:none;
  box-shadow: 0 0 0 2px #f89837;
}

#createForm {
  color : #a68671;
}

.createInput input, .instructionInput input, .ingredientInput input {
  width : 300px;
  background-color: cornsilk;
}

.instructionInput input + button {
  margin-left: 5px;
}

.createOptions {
  color : #a68671;
  opacity: 75%;
}

.buttonMoreLess {
  border-radius: 50%;
  width : 32px;
  background-color: orange;
  border : none;
  color: white;
  font-size : larger
}

.createSelectInput label + select {
  margin-left : 10px;
  background-color: cornsilk;
  border-radius: 10px;
  border : none;
  box-shadow: 0 0 0 2px #f89837;
}

.createSelectInput label {
  display: flex;
  width : 120px;
  justify-content: right;
  font-family: 'Abril Fatface';
  font-size : x-large;
}


#createRecipeButton {
  color : white;
  background-color: orange;
  border : none;
  border-radius: 15px;
  font-size: larger;
  margin : 5px;
  font-family: 'Abril Fatface';
}

#resumePage {
  background: url(/src/assets/img/slider2.jpg);
  height : 500px;
  background-size : cover;
  background-position: center;
}

#titleCreationPage {
  color : orange;
  background-color: cornsilk;
  justify-content: center;
  display : flex;
  padding : 20px;
  font-size: xxx-large;
  font-family: 'Abril Fatface';
}

#descriptionCreationPage {
  margin : 20px;
  background-color: cornsilk;
  border-radius: 10px;
  width: fit-content;
  padding : 20px;
  font-family: 'Abril Fatface';
  font-size : x-large;
  color : #a68671;
}

#leaveEmpty {
  font-family: 'Abril Fatface';
  font-size : x-large;
}