header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#container {
  display: flex;
  width: 100%;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#child1 {
  display: flex;
  flex:1;
}

#child1 a {
  padding-left: 15px;
}

#child2 {
  display: flex;
}


#child2 img {
  object-fit: contain;
  height: 50px;
  max-width: 100%;
}

#child3 {
  display: flex;
  flex:1;
  justify-content: flex-end;
  width: auto;
}

#child3 * {
  margin-top: auto;
  margin-bottom: auto;
}

#child3 input {
  height: 20px;
  border-radius: 7px;
  border: 0px;
  box-shadow: 0 0 0 2px #f89837;
  width: auto;
  transition: width 0.5s ease-in-out;
  padding: 13px 24px;
  margin-right: 20px;
}

#child3 .searchbar-mobile {
  display: none;
}

#child3 input.input-expanded {
  width: 400px;
}

#child3 img {
  height: 40px;
  border-radius: 9px;
  border: 0px;
  margin:5px;
  cursor: pointer;
  
}




.account-icon {
  margin-right: 10px;
}


@media (max-width: 727px)  {
  #child2 {
    margin: auto;
    margin-right: 25px!important;
  }
}

@media (max-width: 1000px)  {
  #child3 .searchbar-mobile {
    display: block;
  }

  #child3 .searchbar-desktop {
    display: none;
    visibility: hidden;
  }
}