@media (max-width: 600px) {
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation20.MuiCard-root.css-1ye8wnt-MuiPaper-root-MuiCard-root {
    width: 42vh!important;
  }

  .MuiBox-root.css-19kzrtu {
    padding: 24px 0!important;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation20.MuiCard-root.css-1kwuntl-MuiPaper-root-MuiCard-root {
  width: 40vh !important;
}
 
}
