#profil{
   
    font-size: 4ch ;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 1ch;
    font-family: "italliano";
}
#child2 {
    display: flex;
    margin: auto;
  }
  
  #child2 img {
    object-fit: contain;
    height: 50px;
    max-width: 100%;
    
  }