@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:wght@500&display=swap');
#container {
  text-align: start;
  display : flex;
  flex-wrap : wrap;
  padding: 10px;
}

#recipe-header {
  padding-top: 70px;
}

#infoRecipe, #recipeSteps {
  background-color: cornsilk;
  
}

#infoRecipe {
  max-width: fit-content;
  height : fit-content;
  flex-grow: 1;
  border : solid;
  padding: 10px;
  border-radius: 10px;
  margin : 5px;
  border-color : #f89837;
}

#recipePhoto {
  display : block;
}

#recipePhoto img {
  border-radius: 10px;
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

#descriptionRecipe {

  width: min-content;
  min-width: 300px;
  flex-grow: 6;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

#recipeTags {
  display: flex;
  position: absolute;
  margin-top: 50vh;
  margin-left: 5vh;
}

.tag {
  margin-left : 5px;
  margin-right : 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  width: fit-content;
  border:solid;
  height: fit-content;
}

.tagContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.printer-btn img {
  height: 50px;
}

.containerTime {
  display: flex;
}

.time {
  padding-left : 5px;
}

#recipeSteps {
  border : solid;
  border-radius: 10px;
  height: auto;
  border-color : #f89837;
}

#ingredientsList, .containerTime, #personsContainer, .stepInstruction {
  font-size : large;
  font-family: 'Playfair Display';
  /* color : #A68671; */
}

.stepNumber {
  font-size : x-large;
  font-family: 'Abril Fatface';
  color: #f89837;
}

#personsContainer {
  display: flex;
  flex-wrap : wrap;
}

#recipeName h1 {
  font-size: 4vw;
  font-family: 'Abril Fatface';
  color: #f89837;
  text-shadow: 1px 1px 2px grey;
  overflow: hidden!important;
  display: inline-block;
  width: 98vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: normal;
}

ol, ul {
  list-style-type: none;
  padding-left: 1rem !important;
}

#moreLessButtons {
  height : min-content;
  display : flex;
  gap : 15px;
  font-weight: bold;
  background:#f89837;
  border-radius:30px;
  padding : 0px 5px 0px 5px;
  margin: 0px 5px 0px 5px;
  border:1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor:pointer;
  user-select: none;
}

#morePersonButton, #lessPersonButton {
  padding : 0 10px 0 10px;
  height: min-content;
}

#morePersonButton {
  border-left: 2px solid white;
}

#numberPersons {
  width: 25px;
  margin: 10px;
  margin: initial;
  margin-left: 10px;
  font-family: 'Abril Fatface';
}

li.ingredient {
  margin: 2px;
  padding: 0 26px;
  background: white;
  border-radius: 10px;
  border: 1px
  solid orangered;
}

li.ingredient:hover {
  background: darkorange;
  color: white;
  font-family: 'Marcellus';
  cursor: pointer;
}

.recipe-card {
  text-align: center;
}

/* new */
#recipeResume {
  display: block;
  position: absolute;
  left: 2%;
  margin-top: 37vh;
}

@media (max-width: 920px)  {
  #recipeContent #container {
    display: block;
  }

  #descriptionRecipe {
    min-width: 100%;
  }

  #recipeName h1 {
    font-size: 7vw;
    white-space: normal;
  }
}

@media (max-width: 500px)  {

  #recipeName h1 {
    font-size: 11vw;
    white-space: nowrap;
  }
}

@media print {
  #recipeResume {
    position: inherit;
    margin-top: 0;
  }

  #recipeTags, #recipePhoto, header, #footer, #related-recipes-block {
    display: none;
  }
}
