.recipe-card {
  /* border: 1px solid brown; */
  /* width: 30%; */
  width: 400px;
  height:auto;
  padding: 2vh;
}

.recipe-card .card-image img {
  max-width: 100%;
  object-fit: cover;
  margin: 0!important;
  max-height: 200px;
  border-radius: 10px;
}

h1.card-title {
  margin: 0;
  font-family: 'Marcellus', serif;
  font-size:x-large;
  color: #a68671;
  min-height: 60px;
  padding-top: 10px;
  overflow: hidden;
}

.card-desc {
  height: 200px;
}

.class-description {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-btn {
  display: inline-block;
  padding: 0.6rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: orange;
  border: 3px solid orange;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  border-radius: 40px;
}

.card-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: orange;
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
 }
 
 .card-btn:hover::before {
  transform: translateX(0);
 }

 .card-btn:hover {
  color: white;
 }

div.favorite-btn {
  height:100px;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

.favorite-btn i {
  cursor:pointer;
  padding:10px 12px 8px;
  background:#fff;
  border-radius:50%;
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s;
  width: 45px;
  height: 45px;
}

.favorite-btn svg.svg-inline--fa.fa-heart:hover {
  color: red;
}

.favorite-btn span {
  position: absolute;
  bottom:70px;
  left:0;
  right:0;
  visibility: hidden;
  transition:.6s;
  z-index:-2;
  font-size:2px;
  color:transparent;
  font-weight:400;
}

.favorite-btn i.press {
  animation: size .4s;
  color:#e23b3b;
}

.favorite-btn span.press {
  bottom:120px;
  font-size:14px;
  visibility:visible;
  animation: fade 1s;
}

@keyframes fade {
  0% {color:transparent;}
  50% {color:#e23b3b;}
  100% {color:transparent;}
}

@keyframes size {
  0% {padding:10px 12px 8px;}
  50% {padding:14px 16px 12px;  
    margin-top:-4px;}
  100% {padding:10px 12px 8px;}
}