.recipe-cards {
  display: flex;
  flex-wrap : wrap;
}

#filter-column {
  min-width: fit-content;
  margin-top: 120px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#SearchPage div#trending-recipes {
  display: block;
  background-image: none;
  height: auto;
}


@media screen {
  #result-column {
    width : 75% ;
  }

  #filter-column {
    width : 25%;
  }
}

#search-container {
  display: flex;
  align-items: flex-start;
  flex-wrap:wrap;
  margin-top: 50px;
}


#result-column {
  min-width: 75%;
}



.filter-container {
  border: orange;
  border-radius: 0px;
  padding: 20px;
  border-width: 10px;
  margin-left: 0px;
}



/********************************************************************/

.filter-title {
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
  color: #9d7745;
  font-size: 1.2em;
  cursor: pointer;
}

.filter-header{
  margin-bottom: 30px;
}


.filter-clear {
  margin-left: 100px;
  cursor: pointer;
  color: rgb(220, 125, 0);
  font-weight: bold;
  font-size: 1.2em;
}
.option-title{
  margin-left: 20px;
  color: rgb(157, 119, 69);
  font-weight: bold;
  font-size: 1.2em;
}

.toggle-plus{
  margin-left: 50px;
  color: #9d7745;
  font-weight: bold;
  font-size: 1.2em;
}
.toggle-minus{
  margin-left: 50px;
  color: rgb(157, 119, 69);
  font-weight: bold;
  font-size: 1.2em;
}

.option{
  margin-left: 40px;
  color: rgb(157, 119, 69);
  font-size: 1.2em;
  margin-bottom: 5px;
}

 /* cacher les options avant de cliquer sur +*/
 .categories-options {
  display: none;
  flex-direction: row;
  align-items: center;
}

.categories-options.open {
  display: block;

}
.filter-typ{
  margin-bottom: 40px;
}
#apply-filters-btn {
  margin-top: 20px;
}
