#search-container {
    display: flex;
  }
  
  #filter-column {
    width: 25%;
    padding: 20px;
    border: 2px solid orange;

  }
  
  #result-column {
    width: 75%;
  }
  
  .filter {
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .filter h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group select,
  .form-group input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
  }
  
  .form-group select {
    height: 35px;
  }
  
  .form-group button {
    background-color: #ff8800;
    color: #fff;
    border: none;

  }