.App {
  text-align: center;
}

body {
  font-family: 'Baloo 2', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.block-title {
  font-family: 'Marcellus', serif;
  color: #a68671;
}

.block-link {
  color: #a68671;
  font-size: 24px;
}

/* Slider styles */
.carousel-item {
  max-height: 650px;
}

.carousel-item img {
  object-fit: cover;
  align-content: center;
}

.carousel-control-next-icon::after {
  content: url(../public/assets/arrow-right.png)!important;
}

.carousel-control-prev-icon::after {
  content: url(../public/assets/arrow-left.png)!important;
}

.carousel-caption {
  bottom: 0!important;
  top: 6.25rem!important;
  color: white!important;
}

#slider-hp, #trending-recipes {
  margin-bottom: 6vh;
}

#slider-hp {
  position: relative;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

#slider-hp .slider-title {
  color: white;
  font-size: 64px;
  font-family: 'Marcellus', serif;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
